{% extends "eduprod/layout.html" %}
{% block body %}
    <h1>Task Manager</h1> <!-- title -->
    <ul>
        {% for task in tasks %}
        <li>
            {{ task.task_name }} for {{ task.subject }} due on {{ task.due_date }} 
            {% if task.is_done %}
            (Done) <!-- marks a task as done, if it is done -->
            {% endif %}
            <button onclick="markDone({{task.id}})">Mark as Done</button> <!-- mark as done and remove task buttons -->
            <button onclick="removeTask({{task.id}})">Remove</button>
            {% if task.task_requirements %}
                Task Requirements: {{ task.task_requirements }} <!-- if task requirements were provided, they are dislayed -->
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'eduprod:add_task' %}">Add Task</a>       <!-- add task button -->
    <script>
        function markDone(taskId) { /* marks tasks as done*/
            fetch(`/home/mark_done/${taskId}`, {method: 'GET'})
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    }
                });
        }

        function removeTask(taskId) { /* removes tasks */
            fetch(`/home/remove_task/${taskId}`, {method: 'GET'})
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    }
                });
        }
    </script>
{% endblock %}