{% extends "eduprod/layout.html" %}
{% block body %}
    <h1>Task Manager</h1>
    <ul>
        {% for task in tasks %}
        <li>
            {{ task.task_name }} for {{ task.subject }} due on {{ task.due_date }} 
            {% if task.is_done %}
            (Done)
            {% endif %}
            <button onclick="markDone({{task.id}})">Mark as Done</button>
            <button onclick="removeTask({{task.id}})">Remove</button>
            {% if task.task_requirements %}
                Task Requirements: {{ task.task_requirements }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'eduprod:add_task' %}">Add Task</a>       
    <script>
        function markDone(taskId) {
            fetch(`/home/mark_done/${taskId}`, {method: 'GET'})
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    }
                });
        }

        function removeTask(taskId) {
            fetch(`/home/remove_task/${taskId}`, {method: 'GET'})
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    }
                });
        }
    </script>
{% endblock %}